    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
        margin: 0 auto;
        background-color: #94c5f9;
    }
    
    .header {
        background-color: rgb(43, 43, 43);
        background-image: url("https://s3.amazonaws.com/download.retrospect.com/site/products/cloud.jpg");
    }
    
    .header h1 {
        text-align: center;
        color: white;
        text-shadow: 3px 3px black;
        font-size: 50px;
        font-weight: 700;
        margin: 0 auto;
        padding: 20px;
    }
    
    .column {
        float: left;
    }
    
    .searchColumn {
        width: 33%;
    }
    
    .content {
        width: 67%;
    }
    
    .currentWeather {
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        margin: 20px;
        padding: 40px;
    }
    
    .forecast {
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
        width: 100%;
        text-align: center;
    }
    
    .daily {
        display: inline-block;
        background-color: blue;
        color: white;
        border-radius: 20px;
        padding: 100px 80px;
        margin: 10px 20px;
    }
    
    .info {
        font-size: 20px;
        font-weight: 500;
        margin: 10px;
        padding: 10px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 30px;
        width: fit-content;
    }
    
    .searchColumn form {
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        margin: 20px;
        padding: 20px;
        font-size: 30px;
    }
    
    #searchCity {
        font-size: 20px;
    }
    
    #submitBtn {
        font-size: 20px;
        padding: 5px;
        margin-left: 10px;
    }
    
    .searchColumn div {
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding: 10px
    }
    
    .history:hover {
        background-color: #999999;
    }