    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0 auto;
    }
    
    .header {
        background-color: rgb(43, 43, 43);
    }
    
    .header h1 {
        text-align: center;
        color: white;
        font-size: 50px;
        font-weight: 700;
        margin: 0 auto;
        padding: 20px;
    }
    
    .column {
        float: left;
    }
    
    .searchColumn {
        width: 33%;
        border: 2px dotted black;
    }
    
    .content {
        width: 67%;
        border: 2px dotted black;
    }
    
    .currentWeather {
        border: 2px solid black;
        margin: 20px;
        padding: 40px;
    }
    
    .forecast {
        border: 2px solid black;
        width: 100%;
        text-align: center;
    }
    
    .daily {
        display: inline-block;
        background-color: blue;
        border-radius: 20px;
        padding: 100px 80px;
        margin: 10px 20px;
    }